
{% extends 'main_template.html' %}

{% block tytul %} Czas Pracy {% endblock %}


{% block strona %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
<ul class="navbar-nav mx-auto">
    <li class="nav-item">
    <a class="nav-link" href="#">Employee</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Managers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Teams</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Projects</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Working Time</a>
  </li>
</ul>
</nav>

<h1 style="text-align: center">Witam na stronie</h1>

{% endblock %}
